body {
    font-family: 'Segoe UI';
    background: #f8fafc;
    margin: 0;
}

.center {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 span {
    color: #10b981;
}

.card {
    background: white;
    padding: 30px;
    border-radius: 14px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.08);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input {
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #cbd5e1;
}

.btn {
    padding: 12px 22px;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    font-weight: 600;
}

.primary {
    background: #10b981;
    color: white;
}

.secondary {
    background: #e2e8f0;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: white;
}

.stats {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.stat {
    background: white;
    padding: 25px;
    border-radius: 14px;
    width: 180px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.05);
}
.green { border-left: 5px solid #10b981; }
.orange { border-left: 5px solid #f97316; }
.blue { border-left: 5px solid #3b82f6; }
.red { border-left: 5px solid #ef4444; }